<div class="container-fluid">
    <p >hiii {{name}}</p>
    <!-- <div *ngIf="inlobby">Waiting for some one to join the room</div> -->
    <video #localVideo  autoplay controls muted  width="200" ></video>
    <video #remoteVideo autoplay controls muted  width="200" ></video>

    <!-- <input type="text" #val class="form-control w-50 mb-3" name="" id="">
    <button class="btn btn-outline-primary" (click)="onClick(val.value)" > send</button>
    <div *ngFor="let x of messages">{{x}}</div> -->
</div>
